In [9]:
from sqlalchemy import create_engine
import dotenv
import os
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
dbname = os.getenv('dbname')

import pandas as pd
dbname = "AdventureWorksDW"
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT *
        FROM dimemployee
        """
df = pd.read_sql(query, db_engine)

In [28]:
from sqlalchemy import create_engine
import dotenv
import os
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
dbname = os.getenv('dbname')

import pandas as pd
dbname = "AdventureWorksDW"
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT *
        FROM dimemployeesalesterritory
        """
df1 = pd.read_sql(query, db_engine)

In [20]:
df1.shape

(11, 6)

In [21]:
df.shape

(296, 28)

In [34]:
df_unito=df.merge(df1, how='left', on='EmployeeKey')

In [35]:
df_unito.shape

(317, 29)

In [27]:
from sqlalchemy import create_engine
import dotenv
import os
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
dbname = os.getenv('dbname')

import pandas as pd
dbname = "AdventureWorksDW"
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT *
        FROM dimsalesterritory
        """
df2 = pd.read_sql(query, db_engine)

In [40]:
df_finale=df_unito.merge(df2, how='right', on='SalesTerritoryKey')

In [43]:
df_finale.columns

Index(['EmployeeKey', 'ParentEmployeeKey', 'EmployeeNationalIDAlternateKey',
       'ParentEmployeeNationalIDAlternateKey', 'FirstName', 'LastName',
       'MiddleName', 'NameStyle', 'Title', 'HireDate', 'BirthDate', 'LoginID',
       'EmailAddress', 'Phone', 'MaritalStatus', 'EmergencyContactName',
       'EmergencyContactPhone', 'SalariedFlag', 'Gender', 'PayFrequency',
       'BaseRate', 'VacationHours', 'SickLeaveHours', 'CurrentFlag',
       'SalesPersonFlag', 'DepartmentName', 'EmployeePhoto', 'Position',
       'SalesTerritoryKey', 'SalesTerritoryAlternateKey',
       'SalesTerritoryRegion', 'SalesTerritoryCountry', 'SalesTerritoryGroup',
       'SalesTerritoryImage'],
      dtype='object')

In [44]:
df_finale.groupby('SalesTerritoryRegion')['EmployeeKey'].sum()

SalesTerritoryRegion
Australia          867.0
Canada            1121.0
Central           1395.0
Corporate HQ         0.0
France            1150.0
Germany            862.0
Northeast          830.0
Northwest         1417.0
Southeast         1115.0
Southwest         1404.0
United Kingdom     858.0
Name: EmployeeKey, dtype: float64

In [45]:
df_finale.groupby('SalesTerritoryCountry')['EmployeeKey'].sum()

SalesTerritoryCountry
Australia          867.0
Canada            1121.0
Corporate HQ         0.0
France            1150.0
Germany            862.0
United Kingdom     858.0
United States     6161.0
Name: EmployeeKey, dtype: float64

In [46]:
df_finale.groupby('SalesTerritoryCountry')['BaseRate'].mean()

SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
Corporate HQ            NaN
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64