In [42]:
import pandas as pd
import os

In [6]:
df=pd.read_json('Mappa-dei-pub-circoli-locali-in-Italia.json', encoding="latin1")

In [7]:
df.shape

(2497, 9)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2497 entries, 0 to 2496
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ccomune                           2497 non-null   object
 1   cprovincia                        2497 non-null   object
 2   cregione                          2497 non-null   object
 3   cnome                             2497 non-null   object
 4   canno_inserimento                 2497 non-null   int64
 5   cdata_e_ora_inserimento           2497 non-null   object
 6   cidentificatore_in_openstreetmap  2497 non-null   int64
 7   clongitudine                      2497 non-null   float64
 8   clatitudine                       2497 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 175.7+ KB

In [8]:
df.info

<bound method DataFrame.info of              ccomune             cprovincia  cregione            cnome  \
0              ALTRO                  ALTRO     ALTRO
1              ALTRO                  ALTRO     ALTRO      Lenny's Pub
2              ALTRO                  ALTRO     ALTRO  Murrayfield Pub
3              ALTRO                  ALTRO     ALTRO           Snop?e
4       Ala di Stura                 TORINO  Piemonte
...              ...                    ...       ...              ...
2492   Barletta (BT)  BARLETTA ANDRIA TRANI    Puglia      Santa Croce
2493  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia      Auld Dublin
2494  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia            Ferus
2495      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia          Re ArtÃ¹
2496      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia     Well's Fargo

      canno_inserimento cdata_e_ora_inserimento  \
0                  2011    2011-06-25T23:17:43Z
1                  2011    2011-07-29T17:22:56Z
2                  2015    2015-10-24T09:28:06Z
3                  2010    2010-09-22T08:32:52Z
4                  2012    2012-05-21T14:28:45Z
...                 ...                     ...
2492               2010    2010-01-17T16:15:08Z
2493               2014    2014-03-03T20:56:16Z
2494               2014    2014-01-07T19:22:18Z
2495               2009    2009-09-04T07:57:05Z
2496               2009    2009-08-10T12:44:03Z

      cidentificatore_in_openstreetmap  clongitudine  clatitudine
0                           1339088150     13.733257    45.575830
1                           1375887295     12.418681    46.747584
2                           3323888102      9.029585    45.831340
3                            921157802     13.640939    45.954607
4                           1760949034      7.307306    45.313150
...                                ...           ...          ...
2492                         615632993     16.285782    41.320671
2493                        2613737619     16.497204    41.241814
2494                        2613737620     16.506175    41.240957
2495                         482836935     16.418124    41.281518
2496                         387223648     16.436765    41.267264

[2497 rows x 9 columns]>

In [9]:
df.head(1)

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
0,ALTRO,ALTRO,ALTRO,,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

In [10]:
df.tail(1)

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
2496,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [11]:
df.sample(1)

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
1667,Livorno,LIVORNO,Toscana,Pub Officina Metropolis,2012,2012-03-30T13:21:06Z,1697770823,10.312025,43.547308

In [12]:
df.columns

Index(['ccomune', 'cprovincia', 'cregione', 'cnome', 'canno_inserimento',
       'cdata_e_ora_inserimento', 'cidentificatore_in_openstreetmap',
       'clongitudine', 'clatitudine'],
      dtype='object')

In [46]:
df.groupby('canno_inserimento').max()

,ccomune,cprovincia,cregione,cnome,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
canno_inserimento,,,,,,,,
2007,Penne,PESCARA,Abruzzo,Don Chisciotte,2007-11-10T00:32:57Z,54196523,13.930044,42.456608
2008,Villanova Mondovi',VARESE,Veneto,whisky,2008-12-20T22:52:34Z,320363956,15.117412,46.737893
2009,Viterbo,VITERBO,Veneto,"pub all'aperto """"il Castello""""",2009-12-30T17:59:57Z,601010028,16.436765,46.772202
2010,Visso,VICENZA,Veneto,il Coccio,2010-12-31T15:27:21Z,1075419007,17.580221,46.983781
2011,Volpago del Montello,VICENZA,Veneto,theNeuPop,2011-12-31T16:59:06Z,1571603800,18.334656,46.898994
2012,Zoppola,VITERBO,Veneto,la cantinaccia,2012-12-31T02:07:31Z,2087368586,18.190631,46.898827
2013,Volpago del Montello,VITERBO,Veneto,villa bianco,2013-12-31T14:42:05Z,2603332838,18.172074,46.900082
2014,Villafranca di Verona,VITERBO,Veneto,s?Itipftl,2014-12-30T09:30:41Z,3259520916,18.444577,46.884450
2015,Voghera,VITERBO,Veneto,the Apartment,2015-12-31T21:17:15Z,3914892218,18.360489,46.890489
2016,Vipiteno,VICENZA,Veneto,Zhizun Pub,2016-02-22T15:34:07Z,4012443016,18.175247,46.896041

In [49]:
df['canno_inserimento'].unique()

array([2011, 2015, 2010, 2012, 2014, 2016, 2013, 2008, 2009, 2007],
      dtype=int64)

In [83]:
filtro1 = (df['clatitudine'] >= 45) & (df['clatitudine'] <= 46) & (df['clongitudine'] >= 9) & (df['clongitudine'] <= 10)
quadrato=df.loc[filtro1]
quadrato.count()

ccomune                             303
cprovincia                          303
cregione                            303
cnome                               303
canno_inserimento                   303
cdata_e_ora_inserimento             303
cidentificatore_in_openstreetmap    303
clongitudine                        303
clatitudine                         303
dtype: int64

In [82]:
filtro_venezia=df['cprovincia']=='VENEZIA'
venezia=df.loc[filtro_venezia]
venezia.count()

ccomune                             58
cprovincia                          58
cregione                            58
cnome                               58
canno_inserimento                   58
cdata_e_ora_inserimento             58
cidentificatore_in_openstreetmap    58
clongitudine                        58
clatitudine                         58
dtype: int64

In [81]:
lazio=df['cregione']=='Lazio'
abruzzo=['cregione']=='Abruzzo'
lazioabruzzo=df.loc[lazio | abruzzo]
lazioabruzzo.count()

ccomune                             189
cprovincia                          189
cregione                            189
cnome                               189
canno_inserimento                   189
cdata_e_ora_inserimento             189
cidentificatore_in_openstreetmap    189
clongitudine                        189
clatitudine                         189
dtype: int64